* {
    padding: 0;
    margin: 0;
}

.anh {
    background: url(./image/nerd-309458.png);
    display: block;
    max-width:50px;
    max-height:55px;
    width: auto;
    height: auto;
    margin-right: 320px;
    margin-top: -10px;
    position: absolute;
}

.container {
    color: rgb(250, 241, 241);
    background: url(./image/nerd-309458.png);
    background: linear-gradient(to right, #21b2d6, #348ca0);
    width: 400px;
    margin: 50px auto;
    /* thay đổi độ bo của hình */
    border-radius: 50px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    position: relative;
}

.search-bar {
    width: 50%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid white;
}

.search-icon {
    margin-right: 50px;
    position: absolute;
    left: 0;
}

.microphone {
    cursor: pointer;
}

.microphone .recording-icon {
    display: none;
    width: 10px;
    height: 10px;
    background-color: #e22d2d;
    border-radius: 50%;
    animation: pulse 1.5s infinite linear;
}

.microphone.recording .recording-icon {
    display: inline-block;
}

.microphone.recording .fa-microphone {
    display: none;
}

.img{
    background: url(./image/nerd-309458.png);
    display: block;
    max-width:50px;
    max-height:55px;
    width: auto;
    height: auto;
    margin-left: 80px;
    margin-top: -10px;
    position: absolute;
}


@keyframes pulse {
    0% {
        box-shadow: 0 0 3px 0 rgba(173, 0, 0, .3);
    }
    65% {
        box-shadow: 0 0 3px 5px rgba(173, 0, 0, .3);
    }
    100% {
        box-shadow: 0 0 3px 5px rgba(173, 0, 0, 0);
    }
}

#search-input {
    border: 0;
    outline: 0;
    padding: 3px 3px 3px 20px;
    background: transparent;
    height: 20px;
    color: white;
}

#search-input::placeholder {
    color: rgb(206,206,206);
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    padding: 80px 50px;
}

.city-name {
    font-size: 20px;
    margin-bottom: 3px;
}
/* là các cái gạch chân trong app */
.weather-state { 
    font-size: 13px;
}

.weather-icon {
    width: 80px;
    height: 80px;
}
/* các độ c  */
.temperature {
    font-size: 80px;
    font-weight: lighter;
    line-height: 1;
    position: relative;
}

.temperature::after {
    content: 'o';
    position: absolute;
    font-size: 30px;
}

.additional-section {
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    font-size: 13px;
}

.additional-section .row {
    margin-bottom: 5px;
    display: flex;
}

.additional-section .item {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.additional-section .item .label {
    font-weight: bold;
}

